<div class="container">
  <div class="row">

    <!-- COL LEFT   -->
    <div class="col-md-4">

      <!-- Creating Form -->
      <div *ngIf="!submitted">
        <div class="input-group mb-3">
          <span class="input-group-text">Title</span>
          <input type="text" class="form-control" placeholder="Tintin développe.."
                 required
                 [(ngModel)]="book.title"
                 name="title"
                 aria-describedby="Book Title">
        </div>

        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="64"
                 aria-label="Number of pages"
                 required
                 [(ngModel)]="book.nbPages"
                 name="nbPages"
                 aria-describedby="Number of pages">
          <span class="input-group-text" id="basic-addon2">Pages</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Picture</span>
          <input type="text" class="form-control" aria-describedby="picture Url"
                 [(ngModel)]="book.pictureUrl" required
                 name="pictureUrl"
                 placeholder="https://www.website.com/book-cover.jpg">
        </div>

        <div class="input-group mb-3">
          <input type="number" class="form-control" aria-label="Weight (to the nearest gramme)" placeholder="138"
                 [(ngModel)]="book.weight" required
                 name="weight">
          <span class="input-group-text" class="form-control">Grammes</span>
        </div>

        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="Description" placeholder="Description .."
                    [(ngModel)]="book.description" required
                    name="description"></textarea>
        </div>

        <div class="input-group">
          <span class="input-group-text">Publishing Date</span>
          <input type="date" class="form-control" aria-label="Publishing Date" required
                 [(ngModel)]="book.publishingDate" name="publishingDate">
        </div>


        <div class="input-group mt-3 d-flex justify-content-end">
          <button (click)="saveTutorial()" class="btn btn-dark">
            Submit
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-send-check-fill" viewBox="0 0 16 16">
              <path
                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
              <path
                d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
            </svg>
          </button>
        </div>

      </div>

      <!-- Form submitted msg -->
      <div *ngIf="submitted">
        <div class="card bg-dark text-white p-3 d-flex flex-column align-items-center">
          <h4 class="mb-5">Book was submitted successfully!</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
               class="bi bi-bookmark-check mb-5" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path
              d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
          <button class="btn btn-light align-self-end" (click)="newBook()">
            Add new one
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>

        </div>
      </div>

    </div>


    <!--  COL RIGHT  -->
    <div class="col-md-8">
      <h5>Book Preview :</h5>
      <div class="card">

        <img *ngIf="book.pictureUrl" class="card-img-top" [src]="book.pictureUrl" [alt]="book.title">

        <svg *ngIf="!book.pictureUrl" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             class="bi bi-image-alt m-3" height="600"
             viewBox="0 0 16 16">
          <path
            d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"/>
        </svg>

        <div class="card-body">
          <div class="card-title d-flex flex-row d-flex justify-content-between">
            <h2>{{ book.title}}</h2>
            <p [ngClass]="{'text-bg-primary': book.published, 'text-bg-danger': !book.published}"
               class="badge rounded-pill py-2 px-5">{{book.published ? 'Published' : 'Not Published'}}</p>
          </div>
          <p class="card-text">{{ book.description }}</p>
          <p class="card-text"><span class="fw-bold">ISBN :</span> {{ book.isbn }}</p>
          <p class="card-text"><span class="fw-bold">Nb pages :</span> {{ book.nbPages }}</p>
          <p class="card-text"><span class="fw-bold">Weight :</span> {{ book.weight }} grammes </p>
        </div>

        <div class="card-footer">
          <small class="text-muted">Publishing Date : {{book.publishingDate | date: 'longDate'}}</small>
        </div>
        <!---->

      </div>
    </div>
  </div>
</div>
